@import "tailwindcss";

/* webiste theme colors varaible */
@theme {
  --color-primary: #0154AA;
  --color-body: #F4F4F4;
  --color-white: #FFFFFF;
  --color-nav-text: #737A91;
  --color-search: #F6F9FF;
}


/* setting the Font Inter */
:root {
  font-family: 'Inter', sans-serif;
  background: #F4F4F4;
}

.container{
  max-width: 90vw;
}


/* Mobile nav button  */
button > span {
 top: 0 !important;
 left: 0!important
}


/* .job-section-container{
  max-width: 90vw;
} */



/* Cover picture  */
.banner-cover{
background-image: url('./assets/ProfileCover.svg');
background-size: contain;
}

